
* {
  padding-right: 0%;
  margin: 0%;
}

html,
body {
  height: 100%;
}
.page {
  min-height: 100vh;
  width: 100vw;
	background-color: #c6c6c6;
}
.page-content {
	align-items: flex-start;
	padding: 0.0rem;
	width: 100%;
}
.page-layout {
	padding: 0.0rem;
}

.spacer {
	height: 12rem;
}

.nav-center {
	text-align: center;
}

p {
  padding: 0px 0 20px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

a{
    color: #ff0000;

    font-weight: bold;
    padding: 20px;
    text-align: center;
}