
* {
  padding-right: 0%;
  margin: 0%;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Diatype", "ABCDiatype", "Inter", "PingFang SC", "Microsoft YaHei", sans-serif;
}

.page {
  min-height: calc(100vh - 120px);
  width: 100vw;
  background-color: #c6c6c6;
}

.page-layout,
.page-content,
main {
  min-height: inherit;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-links {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.home-links a {
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-size: clamp(12px, 2vw, 18px);
}