* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Diatype", "ABCDiatype", "Inter", "PingFang SC", "Microsoft YaHei", sans-serif;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px ;
  margin: auto;
  text-align: center;
}

.menu {
  /* border: 1px solid #fff;  For debugging */
  display: flex;
   justify-content: space-between; 
}

.links {
  /* border: 1px solid #fff;  For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
  display: flex;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
   align-items: stretch;
}

.social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
}